.form {
    font-family: verdana, arial, helvetica;
    font-size:13px;
    width: 100%;
    max-width: 500px;
    padding:10px;
    border:1px solid #aaa;
    margin:auto;
}

.form .textbox{
    width:95%;
    outline:none;
    border:1px solid #aaa;
    padding:10px;
    margin: 4px;
    border-radius:5px;
}

.form .btn{
    width:120px;
    border:none;
    background-color: blue;
    color:#fff;
    padding:10px;
    margin: 4px;
    border-radius:5px;
    cursor: pointer;
}
